DB_USERNAME=root
DB_PASSWORD=your_database_password
DIFY_BASE_URL=http://localhost/v1
DIFY_API_KEY=your_dify_api_key
DIFY_WORKFLOW_ID=your_dify_workflow_id
DIFY_WORKFLOW_USER_PREFIX=drone-demo
KITTI_DATASET_ROOT=F:/YOLO/kitty
